# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# AWS
.aws/
aws_access_key_id
aws_secret_access_key

# Secrets
.env
.env.local
.env.*.local
secrets.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Otros
*.log
.DS_Store